{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort", "import"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "simple-import-sort/imports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ]
}
