body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-custom-connect-button-class {
  background: rgb(224, 59, 224);
  color: white;
  padding: 0.5em 0.7em;
  font-size: 2em;
  border-radius: 0.5em;
  border-color: blueviolet;
  border-width: 0.2em;
}
